@CHARSET "UTF-8";
/*Copyright ©2015 LG CNS, All Rights Reserved.*/

@font-face {
 font-family: "LGSmHaR";
 src: url('./fonts/LGSmHaR.eot');
 src: url('./fonts/LGSmHaR.eot?') format('eot'), url('./fonts/LGSmHaR.woff') format('woff'), url('./fonts/LGSmHaR.ttf') format('truetype');
}

body {padding:0; margin:0; background:url(../images/loginMotif.png) no-repeat right 40% top 453px;}
input {display:block; width:280px; margin-bottom:10px; height:30px; padding:5px 10px; background-color:#fff; font-size:16px;}
.loginBody, .loginWrapBottom {width:305px; margin:0 auto; position:relative;}
.loginWrap {background:url(../images/loginMotif.png) no-repeat right 40% bottom -72px; height:550px; background-color:#e6e6e6;}
.loginLogo {font-family: 'LGSmHaR'; font-size:32px; margin-bottom:50px; line-height:45px;}
.loginBody {padding-top:100px;}

input.btnLogin {width:300px; border:none;}

fieldset {border:none; padding:0;}
fieldset legend {display:none;}
input.btnLogin {
	width:100%; border:none; color:#fff; font-size:18px; padding:5px 0; display:block; height:40px; cursor:pointer;
	background: #353942;
}
input.btnLogin:hover {opacity:0.9;}
.loginWrapBottom {padding-top:60px;}
.CNSlogo {}
.suite {font-family: "LGSmHaR";margin-bottom:10px;}
.copyright {font-size:12px;margin-bottom:50px; }